:host {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mat-card{
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
  min-width: 50rem;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

button{
  margin-left: 10px;
}
