<div id="container">
  <mat-card>
    <mat-card-title>Edit Job</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" autocomplete="off">

        <p>
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input type="text" matInput placeholder="" formControlName="title">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="" rows="10" formControlName="description"></textarea>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Skills</mat-label>
            <input type="text" matInput placeholder="" formControlName="skills">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>City</mat-label>
            <input type="text" matInput placeholder="" formControlName="city">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>State</mat-label>
            <input type="text" matInput placeholder="" formControlName="state">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Country</mat-label>
            <input type="text" matInput placeholder="" formControlName="country">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Job Type</mat-label>
            <mat-select formControlName="job_type" [(value)]="job_type_selected" required>
              <mat-option *ngFor="let job_type of jobTypes"
                          [value]="job_type.value" >
                {{job_type.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" [(value)]="job_status_selected" required>
              <mat-option *ngFor="let status of jobStatuses" [value]="status.value">
                {{status.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>


        <div class="button">
          <button mat-raised-button color="primary" type="button" (click)="cancel()">Cancel</button>
          <button mat-raised-button color="primary" type="button" (click)="editEJob()">Update</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

  <!--table mat-table [dataSource]="applicants" class="mat-elevation-z8"-->

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <!--ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef> Name. </th>
      <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
    </ng-container-->

    <!-- Description Column -->
    <!--ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef> Education </th>
      <td mat-cell *matCellDef="let element"> {{element.education}} </td>
    </ng-container-->

    <!-- Job Type Column -->
    <!--ng-container matColumnDef="skills">
      <th mat-header-cell *matHeaderCellDef> Skills </th>
      <td mat-cell *matCellDef="let element"> {{element.skills}} </td>
    </ng-container-->

    <!-- Employer Column -->
    <!--ng-container matColumnDef="yoe">
      <th mat-header-cell *matHeaderCellDef> YOE </th>
      <td mat-cell *matCellDef="let element"> {{element.yoe}} </td>
    </ng-container-->

    <!-- Action Column -->
    <!--ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" type="button" (click)="viewProfile()">profile</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="applicantColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: applicantColumns;"></tr>
  </table-->
</div>

