#search-job-container {
  padding-top: 2rem
}

#search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.search-field {
  flex: 50%;
  margin-right: 0.5rem;
}

.search-field-location {
  flex: 10%;
}

.search-button {
  flex: 15%;
}

.search-button button {
  margin-top: 0.2rem;
  padding: 0.5rem 5rem 0.5rem 5rem;
}


#search-bar mat-form-field {
  width: 100%;
}


.job-card {
  max-width: 400px;
  margin-bottom: 8px;
  cursor: pointer;
}
